﻿@model MetlifeAdminPanel.SwitchingLog

@{
    ViewBag.Title = "Details";
}


<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }
            @using (Html.BeginForm("Details", "SwitchingLogs", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
            @Html.AntiForgeryToken()            
        @*<form action="#" method="post" class="form-material form-horizontal m-t-30">*@ 
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">Batch Id</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.bach_id)"  readonly ="readonly">
            </div>
        </div>        
        

       <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">DB2 Count</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.db2_count)"  readonly ="readonly">
                          
            </div>
        </div>
       <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">MSSQL Count</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.mssql_count)"  readonly ="readonly">
                          
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">Select Start Time</label>
                <input type="text" class="form-control" value="@if (@Model.select_start_time!=null){ @Model.select_start_time.ToString() }else{  }"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">Select End Time</label>
                <input type="text" class="form-control" value="@if (@Model.select_end_time!=null){ @Model.select_end_time.ToString() }
                                                               else { }"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">Insert Start Time</label>
                <input type="text" class="form-control" value="@if (@Model.insert_start_time!=null){ @Model.insert_start_time.ToString() }else{  }"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-12">Insert End Time</label>
                <input type="text" class="form-control" value="@if (@Model.insert_end_time!=null){ @Model.insert_end_time.ToString() }else{  }"  readonly ="readonly">
                
            </div>
        </div>
    <h4>To Show all logs @Html.ActionLink("click here", "Index")</h4>
        @*</form>*@
            }
 
	  </div>
   </div>
</div>
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out7").addClass('collapse in');

    	$("#sl-id").addClass('active');
    });
    </script> 

