﻿@model MetlifeAdminPanel.PaymentGateway
@{
    ViewBag.Title = "Gateway Form";
}
<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if (TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
           }									 
		    @if (TempData["success"] != null)
            {
			        <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			        <span  style="color: green; font-size:large;"  role="alert" >
					        @TempData["success"] 							
			        </span>
			        <br/>				
            }
            
            @using (Html.BeginForm("Create", "Gateway", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
            {
                @Html.AntiForgeryToken()                   
            @*<form action="/Gateway/Create" method="post" class="form-material form-horizontal m-t-30">*@ 
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-sm-3">
                         <label class="col-sm-12">GateWay Name</label>                        
                         <input type="text" class="form-control" name ="GateWayName" value ="@Html.DisplayFor(model => model.GateWayName)" required ="required">
                     </div>
                  
                      <div class="col-sm-3">
                        <label class="col-sm-12">Method Name</label>
                        <input type="text" class="form-control" name ="MethodName" value ="@Html.DisplayFor(model => model.MethodName)" required ="required">
                        @Html.ValidationMessageFor(model => model.MethodName)
                    </div>

                    <div class="col-sm-3">
                        <label class="col-sm-12">GateWay Image URI</label>
                        <input type="text" class="form-control" name ="GateWayImageURI" value ="@Html.DisplayFor(model => model.GateWayImageURI)" required ="required">
                        @Html.ValidationMessageFor(model => model.GateWayImageURI)
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12">Return URL</label>
                        <input type="text" class="form-control" name ="ReturnURL" value ="@Html.DisplayFor(model => model.ReturnURL)" required ="required">
                        @Html.ValidationMessageFor(model => model.ReturnURL)
                    </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-3">
                        <label class="col-sm-12">Cancel URL</label>
                        <input type="text" class="form-control" name ="CancelURL" value ="@Html.DisplayFor(model => model.CancelURL)" required ="required">
                        @Html.ValidationMessageFor(model => model.CancelURL)
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12">Fail URL</label>
                        <input type="text" class="form-control" name ="FailURL" value ="@Html.DisplayFor(model => model.FailURL)" required ="required">
                        @Html.ValidationMessageFor(model => model.FailURL)
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12">Merchant ID</label>
                        <input type="text" class="form-control" name ="MerchantID" value ="@Html.DisplayFor(model => model.MerchantID)" required ="required">
                        @Html.ValidationMessageFor(model => model.MerchantID)
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12">Merchant Password</label>
                        <input type="password" class="form-control" name ="MerchantPassword" required ="required">
                        @Html.ValidationMessageFor(model => model.MerchantPassword)
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-12">Gateway Fee Type</label>
                         
                        <select class="form-control" id="GatewayFeeType" name="GatewayFeeType">
                               @*<option value=10>Select Status</option>*@
                            @if (Model != null)
                            {
                               <option value="percent"  @("percent" == Model.GatewayFeeType ? "selected" : "")>Percentage</option>
        				 	   <option value="fixed" @("fixed" == Model.GatewayFeeType ? "selected" : "")>Fixed</option>
                               <option value="slab" @("slab" == Model.GatewayFeeType ? "selected" : "")>Slab</option>
                            }
                            else
                            {   
                               <option value="">Select Gateway Fee Type</option>
                               <option value="percent">Percentage</option>
        				 	   <option value="fixed">Fixed</option>
                               <option value="slab">Slab</option>
                            }
                         </select>
                    </div>                        
                   
                    @if(Model != null)
                    {
                        if(Model.GatewayFeeType == "percent" || Model.GatewayFeeType == "fixed"){
                            <div class="col-sm-3" id ="feeValue" style="display:block">
                                <label class="col-sm-12">Gateway Fee Value</label>
                                <input type="text" class="form-control" name ="GatewayFeeValue" >
                                @Html.ValidationMessageFor(model => model.GatewayFeeValue)
                            </div>
                        }
                        if(Model.GatewayFeeType == "slab"){
                            <div class="col-sm-3" id ="slabRate" style="display:block">
                                <label class="col-sm-12">Slab Rates</label>
                                <input type="text" class="form-control  mb-0" name ="SlabRates" >
                                <code style="font-size: 0.722em;">Min-Max=Charge(comma separated for multiple value)</code>
                                @Html.ValidationMessageFor(model => model.SlabRates)
                            </div>
                        }
                    }else{
                       <div class="col-sm-3" id ="feeValue" style="display:none">
                            <label class="col-sm-12">Gateway Fee Value</label>
                            <input type="text" class="form-control" name ="GatewayFeeValue" >
                            @Html.ValidationMessageFor(model => model.GatewayFeeValue)
                        </div>
                        <div class="col-sm-3" id ="slabRate" style="display:none">
                            <label class="col-sm-12">Slab Rates</label>
                            <input type="text" class="form-control  mb-0" name ="SlabRates" >
                            <code style="font-size: 0.722em;">Min-Max=Charge(comma separated for multiple value)</code>
                            @Html.ValidationMessageFor(model => model.SlabRates)
                        </div> 
                     }

                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Reset</button>
                      </div>
                  </div>
                <h4>To Show list of Gateway @Html.ActionLink("click here", "Index")</h4>
            }
            @*</form>*@
        </div>
    </div>
</div>


    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out5").addClass('collapse in');

        $("#gw-id").addClass('active');

        $("#GatewayFeeType").on('change', function () {
            if ($(this).val() == 'slab') {
                $("#slabRate").show();
                $("#feeValue").hide();
            }
            else if($(this).val() == 'percent' || $(this).val() == 'fixed') {
                $("#feeValue").show();
                $("#slabRate").hide();
            }
        })
    });


   

    </script>   

