﻿@model MetlifeAdminPanel.PaymentGateway

@{
    ViewBag.Title = "Gateway Details";
}

<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    } 
        @using (Html.BeginForm("Details", "Gateway", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
        {
        @Html.AntiForgeryToken()                 
        @*<form action="#" method="post" class="form-material form-horizontal m-t-30"> *@
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">GateWay Name</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.GateWayName)"  readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Method Name</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MethodName)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">GateWay Image URI</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.GateWayImageURI)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Merchant Id</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MerchantID)" readonly ="readonly">
            </div>
        </div>
        <div class="row">       
            <div class="col-sm-3">
                <label class="col-sm-12">Return URL</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.ReturnURL)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Cancel URL</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.CancelURL)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Fail URL</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.FailURL)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Created At</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.CreatedAt)" readonly ="readonly">
            </div>
        </div>
        <div class="row"> 
           <div class="col-sm-3">
                <label class="col-sm-12">Updated At</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.UpdatedAt)" readonly ="readonly">
            </div>
            <div class="col-sm-3">
                <label class="col-sm-12">Gateway Fee Type</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.GatewayFeeType)" readonly ="readonly">
            </div>
            @if(Model.GatewayFeeType=="percent" || Model.GatewayFeeType =="fixed"){
                <div class="col-sm-3">
                    <label class="col-sm-12">Gateway Fee Value</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.GatewayFeeValue)" readonly ="readonly">
                </div>
            }
            @if(Model.GatewayFeeType =="slab"){
                <div class="col-sm-3">
                    <label class="col-sm-12">Slab Rates</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.SlabRates)" readonly ="readonly">
                </div>
            }
        </div>
   
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">Status</label>
                @{var status = "";}
                @if (@Model.IsEnabled == 1) { status = "Active"; } else { status = "Inactive"; }
                <input type="text" class="form-control"  value="@status" readonly ="readonly">
            </div>  
        </div>
        }
        @*</form>*@
         <br/>         
        <h4>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id=Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
        </h4>
  
	  </div>
   </div>
</div>
<script>
$(document).ready(function(){
    $("#manual-in-out2").addClass('collapse in');
    $("#manual-in-out5").addClass('collapse in');

    $("#gw-id").addClass('active');
});
</script>     
    