﻿@model MetlifeAdminPanel.User_Info

@{
    ViewBag.Title = "User Registration";
}

<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
            @Html.AntiForgeryToken()      
            @*<form action="/User/Create" method="post" class="form-material form-horizontal m-t-30">*@ 
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-sm-3">
                         <label class="col-sm-12">User ID</label>                        
                         <input type="text" class="form-control" name ="USERID" required ="required">
                     </div>
                  
                      <div class="col-sm-3">
                        <label class="col-sm-12">Name</label>
                        @*@Html.EditorFor(model => model.NAME, new {@class = "form-control" })*@
                        <input type="text" class="form-control" name ="NAME" required ="required">
                        @Html.ValidationMessageFor(model => model.NAME)
                    </div>
                
                      <div class="col-sm-3">
                        <label class="col-sm-12">Email</label>
                        <input type="text" class="form-control" name ="EMAIL" required ="required">
                        @Html.ValidationMessageFor(model => model.EMAIL)
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                        <label class="col-sm-12">Mobile no.</label>
                        <input type="text" class="form-control" name ="MOBILE">
                        @Html.ValidationMessageFor(model => model.MOBILE)
                    </div>
                  
                      @*<div class="col-sm-3">
                        <label class="col-sm-12">Type</label>
                        <input type="text" class="form-control" name ="TYPE">
                        @Html.ValidationMessageFor(model => model.TYPE)
                    </div>
                 
                      <div class="col-sm-3">
                        <label class="col-sm-12">Login Type</label>
                        <input type="text" class="form-control" name ="LOGIN_TYPE">
                        @Html.ValidationMessageFor(model => model.LOGIN_TYPE)
                    </div>*@
                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Reset</button>
                      </div>
                  </div>
                <h5>To Show list of User @Html.ActionLink("click here", "Index")</h5>
            @*</form>*@
            }
        </div>
    </div>
</div>


    <script>
    $(document).ready(function(){
    	$("#manual-in-out2").addClass('collapse in');
    	$("#user-id").addClass('active');
    });
    </script>     


