﻿@model MetlifeAdminPanel.User_Info

@{
    ViewBag.Title = "Delete User";
}

<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    } 
        @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
        {
        @Html.AntiForgeryToken()           
        @*<form action="#" method="post" class="form-material form-horizontal m-t-30"> *@
            @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">User ID</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.USERID)"  readonly ="readonly">
            </div>
                  
            <div class="col-sm-3">
                <label class="col-sm-12">Name</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.NAME)" readonly ="readonly">
            </div>
                
            <div class="col-sm-3">
                <label class="col-sm-12">Email</label>
                <input type="text" class="form-control"  value="@Html.DisplayFor(model => model.EMAIL)" readonly ="readonly">
                </div>
        </div>
        <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Mobile no.</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MOBILE)"  readonly ="readonly">
                </div>                  
              @*<div class="col-sm-3">
                    <label class="col-sm-12">Type</label>
                    <input type="text" class="form-control"  value="@Html.DisplayFor(model => model.TYPE)" readonly ="readonly">
                </div>
                 
                <div class="col-sm-3">
                    <label class="col-sm-12">Login Type</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.LOGIN_TYPE)" readonly ="readonly">
                </div>*@
                <div class="col-sm-3">
                    <label class="col-sm-12">Status</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.STATUS)" readonly ="readonly">
                </div>                  
                <div class="col-sm-3">
                    <label class="col-sm-12">Create Time</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.CREATE_TIME)"  readonly ="readonly">
                </div>   
            </div>
            <div class="row">              
                <div class="col-sm-3">
                    <label class="col-sm-12">Update Time</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.UPDATE_TIME)"  readonly ="readonly">
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12 m-t-30">    
                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Delete</button>
                </div>
            </div>   
            <p>
            @Html.ActionLink("Back to List", "Index")
            </p>
        @*</form>*@
        }
         <br/>
	  </div>
   </div>
</div>


    <script>
    $(document).ready(function(){
    	$("#manual-in-out2").addClass('collapse in');
    	$("#user-id").addClass('active');
    });
    </script>     
