﻿@model MetlifeAdminPanel.User_Info

@{
    ViewBag.Title = "Edit User";
}

<div class="row">					
	<div class="col-sm-12">
            <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
            @Html.AntiForgeryToken() 

                @*<form action="#" method="post" class="form-material form-horizontal m-t-30"> *@
                    @Html.HiddenFor(model => model.ID)
                     @Html.HiddenFor(model => model.CREATE_TIME)
                     @Html.HiddenFor(model => model.UPDATE_TIME)
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-12">User ID</label>                        
                        <input type="text" class="form-control"   name ="USERID" value="@Html.DisplayFor(model => model.USERID)">
                    </div>
                  
                    <div class="col-sm-3">
                        <label class="col-sm-12">Name</label>
                        <input type="text" class="form-control"  name ="NAME" value="@Html.DisplayFor(model => model.NAME)">
                    </div>
                
                    <div class="col-sm-3">
                        <label class="col-sm-12">Email</label>
                        <input type="text" class="form-control"   name ="EMAIL" value="@Html.DisplayFor(model => model.EMAIL)">
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-12">Mobile no.</label>
                        <input type="text" class="form-control" name ="MOBILE"  value="@Html.DisplayFor(model => model.MOBILE)" >
                    </div>
                  
                    @*<div class="col-sm-3">
                        <label class="col-sm-12">Type</label>
                        <input type="text" class="form-control"   name ="TYPE" value="@Html.DisplayFor(model => model.TYPE)">
                    </div>
                 
                    <div class="col-sm-3">
                        <label class="col-sm-12">Login Type</label>
                        <input type="text" class="form-control"  name ="LOGIN_TYPE" value="@Html.DisplayFor(model => model.LOGIN_TYPE)">
                    </div>*@

                    <div class="col-sm-3">
                        <label class="col-sm-12">Status</label>
                        <select class="form-control" name="STATUS">
						    <option value="Active" @("Active" == @Model.STATUS ? "selected" : "")>Active</option>
                            <option value="Inactive" @("Inactive" == @Model.STATUS ? "selected" : "")>Inactive</option>
					    </select>
                    </div>
                </div>
                <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Update</button>
                      </div>
                  </div>    
            } 
                @*</form>*@
                 <br/>         
                <p>               
                @Html.ActionLink("Back to List", "Index")
                </p>
        
   		</div>
   	</div>
</div>		




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <script>
    $(document).ready(function(){
    	$("#manual-in-out2").addClass('collapse in');
    	$("#user-id").addClass('active');
    });
    </script>     
