﻿@model IEnumerable<MetlifeAdminPanel.User_Info>

@{
    ViewBag.Title = "Users";
}

<div class="col-sm-12">
  <div class="white-box">      
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
      <div class="table-responsive">
			<table id="example5" class="table display">
                <thead>
				<tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
@*                    <th style="width: 60px;">
                        Action
                    </th>*@                    
				</tr>
				</thead>	
				<tbody>
                   @foreach (var item in Model) {
                    <tr>

                        <td>
                            @*@Html.ActionLink(@item.NAME, "Details", new { id=item.ID })*@ 
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                       
                        <td>
                            @*@Html.ActionLink(@item.STATUS, "Details", new { id=item.ID })*@ 
                            @Html.DisplayFor(modelItem => item.STATUS)
                        </td>
                        @*<td>
                            <a class="btn btn-primary btn-xs"   data-toggle="tooltip" title="Edit" data-placement="top" href="Edit/@item.ID" >
                                    <span class="fa fa-pencil"></span>
                            </a>
                            <a class="btn btn-danger btn-xs"   data-toggle="tooltip" title="Delete" data-placement="top" href="Delete/@item.ID" >
                                    <span class="fa fa-trash"></span>
                            </a>
                        </td>  *@
        
                    </tr>
                    }
				</tbody>
			</table>
            <br/>
            @*<h5 style="margin-left: 5px;">To Create New User @Html.ActionLink("click here", "Create")</h5>*@
		 </div>
      </div>
  </div>

    <script>
    $(document).ready(function(){
    	$("#manual-in-out2").addClass('collapse in');
    	$("#user-id").addClass('active');
    });
    </script>     
