﻿@model MetlifeAdminPanel.PaymentType

@{
    ViewBag.Title = "Payment Type Form";
}

<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Create", "PaymentType", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
            {
            @Html.AntiForgeryToken()
            @*<form action="/PaymentType/Create" method="post" class="form-material form-horizontal m-t-30">*@ 
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-sm-3">
                        <label class="col-sm-12">Name</label>
                        @*@Html.EditorFor(model => model.NAME, new {@class = "form-control" })*@
                        <input type="text" class="form-control" name ="NAME" required ="required">
                         @Html.ValidationMessageFor(model => model.Name)
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-3">
                        <label class="col-sm-12">Slug</label>
                        @*@Html.EditorFor(model => model.NAME, new {@class = "form-control" })*@
                        <input type="text" class="form-control" name ="Slug" required ="required">
                         @Html.ValidationMessageFor(model => model.Slug)
                      </div>
                   </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Reset</button>
                      </div>
                  </div>
                 <h4>To Show list of Payment Type @Html.ActionLink("click here", "Index")</h4>
            }
            @*</form>*@
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out5").addClass('collapse in');

    	$("#pt-id").addClass('active');
    });
    </script> 

