﻿@model IEnumerable<MetlifeAdminPanel.UnclaimedMaturityLog>

@{
    ViewBag.Title = "Log";
}

<div class="col-sm-12">
  <div class="white-box">      
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  


      <div class="table-responsive">
			<table id="example5" class="table display">
                <thead>
				<tr>
                    <th>
                        Bach Id
                    </th>
                    <th>
                        Data Count
                    </th>  
                    <th>
                        Status
                    </th>
                    <th>
                        Uploaded By
                    </th>
                    <th>
                        Upload Time
                    </th>                                          
                                     
				</tr>
				</thead>	
				<tbody>
                   @foreach (var item in Model) {
                    <tr>
                        <td>
                            @item.BachId 
                        </td>
                        <td>
                            @item.DataCount 
                        </td>
                        <td>
                            @item.Status 
                        </td>
                        <td>
                            @item.UploadedBy 
                        </td>
                        <td>
                            @item.UploadTime 
                        </td>
                                                         
                    </tr>
                    }
				</tbody>
			</table>
           
		 </div>
      </div>
  </div>



    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out8").addClass('collapse in');

    	$("#uplog-id").addClass('active');
    });
    </script>