﻿@model MetlifeAdminPanel.Services.ReportManager
@using MetlifeAdminPanel.Services
@{
    ViewBag.Title = "Search";
    Enc enc = new Enc();
    DataLog log = new DataLog();
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            @if (TempData["failed"] != null)
            {
                <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
                <span style="color: red; font-size:large; " role="alert">
                    @TempData["failed"]
                </span>
                <br />
            }
            @if (TempData["success"] != null)
            {
                <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
                <span style="color: green; font-size:large;" role="alert">
                    @TempData["success"]
                </span>
                <br />
            }
            @using (Html.BeginForm("Search", "Report", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30", @id = "search-form" }))
            {
                @Html.AntiForgeryToken()
                @*<form action="/Report/Search" method="post" class="form-material form-horizontal m-t-30" id="search-form">*@
                @Html.ValidationSummary(true)
                @*
                    <div class="row">
                         <div class="col-md-3">
                           <label class="col-sm-12">Customer Name</label>
                            <input type="text" class="form-control" name ="dummySearch.customerName" value="@Model.dummySearch.customerName">
                                @Html.ValidationMessageFor(model => model.dummySearch.customerName)
                         </div>
                         <div class="col-md-3">
                           <label class="col-sm-12">Payer Email</label>
                            <input type="text" class="form-control" name ="dummySearch.payerEmail" value="@Model.dummySearch.payerEmail">
                                @Html.ValidationMessageFor(model => model.dummySearch.payerEmail)
                         </div>
                         <div class="col-md-3">
                           <label class="col-sm-12">Policy Owner Email</label>
                                <input type="text" class="form-control" name ="dummySearch.poEmail" value="@Model.dummySearch.poEmail">
                                @Html.ValidationMessageFor(model => model.dummySearch.poEmail)
                         </div>
                        <div class="col-md-3">
                           <label class="col-sm-12">Transaction Id</label>
                            <input type="text" class="form-control" name ="dummySearch.TransactionID" value="@Model.dummySearch.TransactionID">
                                @Html.ValidationMessageFor(model => model.dummySearch.TransactionID)
                         </div>
                     </div>*@
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-sm-12">Payment From Date</label>
                        <input type="text" id="datepicker" class="form-control" name="dummySearch.startDate" value="@Model.dummySearch.startDate">
                        @Html.ValidationMessageFor(model => model.dummySearch.startDate)
                    </div>
                    <div class="col-md-3">
                        <label class="col-sm-12">Payment To Date</label>
                        <input type="text" id="datepicker" class="form-control" name="dummySearch.endDate" value="@Model.dummySearch.endDate">
                        @Html.ValidationMessageFor(model => model.dummySearch.endDate)
                    </div>
                    <div class="col-md-3">
                        <label class="col-sm-12">Policy Number</label>
                        <input type="text" class="form-control" name="dummySearch.policyNumber" value="@Model.dummySearch.policyNumber">
                        @Html.ValidationMessageFor(model => model.dummySearch.policyNumber)
                    </div>
                    <div class="col-md-3">
                        <label class="col-sm-12">Type</label>
                        @Html.DropDownListFor(model => model.dummySearch.type, Model.dummySearch.DropDownListForPaymentType, "Select a Payment Mode", new { @class = "form-control" })
                    </div>

                    <div class="col-md-3">
                        <label class="col-sm-12">Payment Channel</label>
                        @*@Html.DropDownListFor(model => model.dummySearch.gateways, Model.dummySearch.DropDownListForGateways, "Select a Payment Channel", new { @class = "form-control" })*@

                        <select class="form-control" id="downloadStatus" name="dummySearch.gateways">
                            @*<option value="All" @("All" == @Model.dummySearch.gateways ? "selected" : "")>Select a Payment Channel </option>*@

                            <option value="Card" @("Card" == @Model.dummySearch.gateways ? "selected" : "")>Card</option>
                            <option value="Bkash" @("Bkash" == @Model.dummySearch.gateways ? "selected" : "")>Bkash</option>

                        </select>

                    </div>
                </div>
                @*<div class="row">
                      <div class="col-md-3">
                        <label class="col-sm-12">Download Status</label>
                          <select class="form-control" id="downloadStatus" name="dummySearch.downloadStatus">
                                <option value=100 @(100 == @Model.dummySearch.downloadStatus ? "selected" : "")>All</option>
                                <option value=0 @(0 == @Model.dummySearch.downloadStatus ? "selected" : "")>New</option>
                                <option value=1 @(1 == @Model.dummySearch.downloadStatus ? "selected" : "")>Downloaded</option>

                          </select>
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Status</label>
                          <select class="form-control" id="status" name="dummySearch.status">
                                <option value= "" >Select Status</option>
                                <option value= "INIT" @("INIT" == @Model.dummySearch.status ? "selected" : "")>INIT</option>
                                <option value= "SUCCESS" @("SUCCESS" == @Model.dummySearch.status ? "selected" : "")>SUCCESS</option>
                                <option value= "DECLINED " @("DECLINED" == @Model.dummySearch.status ? "selected" : "")>FAILED</option>
                                <option value= "CANCELED" @("CANCELED" == @Model.dummySearch.status ? "selected" : "")>CANCELED</option>
                                <option value= "AMOUNT_MISMATCH" @("AMOUNT_MISMATCH" == @Model.dummySearch.status ? "selected" : "")>AMOUNT MISMATCH</option>
                          </select>
                      </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-12 m-t-30">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Search</button>
                        @*<input type="reset" class="btn btn-secondary "value="Reset">*@
                    </div>
                </div>
            }
            @*</form>*@
            @if (Model.tranList != null)
            {
                if (Model.tranList.Count > 0)
                {
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table id="example" class="table display">
                                    <thead>
                                        <tr>

                                            <th>
                                                SL NO
                                            </th>
                                            @*<th>
                                                    ACCTNO
                                                </th>*@
                                            <th>
                                                TRANSACTION NO
                                            </th>
                                            <th>
                                                TRANDATE & TIME
                                            </th>
                                            <th>
                                                PAID FOR
                                            </th>
                                            <th>
                                                PAID FOR DETAILS
                                            </th>
                                            <th>
                                                POLICY NO
                                            </th>

                                            @*<th>
                                                    RECEIPT HEADING
                                                </th>*@
                                            <th>
                                                PAID AMT
                                            </th>
                                            <th>
                                                ACK SENT
                                            </th>
                                            <th>
                                                PONAME
                                            </th>
                                            <th>
                                                AGENT CODE
                                            </th>
                                            <th>
                                                EMAIL
                                            </th>
                                            <th>
                                                BRAND OF CARD
                                            </th>
                                            <th>
                                                CBL/BKS REF NO
                                            </th>
                                            <th>
                                                DOWNLOADED
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.tranList)
                                        {
                                        <tr>
                                            <td>@item.SerialOfDay</td>

                                            @{
                                                if (item.RefID != null)
                                                {
                                                    try
                                                    {

                                                        <td>@enc.Decrypt(item.RefID)</td>
                                                    }
                                                    catch
                                                    {
                                                        @log.savelog("problem occurs in RefID :" + @item.SerialOfDay, false)
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }



                                            @*@if (item.RefID != null)
        {
            <td>@enc.Decrypt(item.RefID)</td>
        }
        else
        {
            <td></td>
        }*@






                                            <td>@item.CreationTime</td>
                                            <td>@item.PurposeOfPayment</td>
                                            <td>@item.PaidFor</td>


                                            @{
                                                if (item.PolicyNumber != null)
                                                {
                                                    try
                                                    {

                                                        <td>@enc.Decrypt(item.PolicyNumber)</td>
                                                    }
                                                    catch
                                                    {
                                                        @log.savelog("problem occurs in Policy Number :" + @item.SerialOfDay, false)
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }



                                            @*@if (item.PolicyNumber != null)
        {
            <td>@enc.Decrypt(item.PolicyNumber)</td>
        }
        else
        {
            <td></td>
        }*@








                                            @*<td>@item.ReceiptHeading</td>*@
                                            <td>@item.Amount</td>
                                            <td>@item.GatewayStatus</td>
                                            <td>@item.POName</td>
                                            <td>@item.Agent</td>


                                            @{
                                                if (item.PayerEmail != null)
                                                {
                                                    try
                                                    {

                                                        <td>@enc.Decrypt(item.PayerEmail)</td>
                                                    }
                                                    catch
                                                    {
                                                        @log.savelog("problem occurs in Payer Email : " + @item.SerialOfDay, false)
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }

                                            @*@if (item.PayerEmail != null)
        {
            <td>@enc.Decrypt(item.PayerEmail)</td>
        }
        else
        {
            <td></td>
        }*@





                                            @if (item.GatewayName == "Bkash")
                                            {
                                                <td>N/A</td>
                                            }
                                            else
                                            {
                                                <td>@item.GatewayCardBrand</td>
                                            }

                                            @if (item.GatewayName == "Bkash")
                                            {
                                                if (item.GatewayTransactionID != null)
                                                {
                                                    <td>@*@enc.Decrypt(item.GatewayTransactionID)*@</td>

                                                    try
                                                    {

                                                        <td>@enc.Decrypt(item.GatewayTransactionID)</td>
                                                    }
                                                    catch
                                                    {
                                                        @log.savelog("problem occurs in gateway tran id : " + @item.SerialOfDay, false)
                                                    }


                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            else
                                            {
                                                if (item.GatewayTransactionID != null)
                                                {
                                                    <td>@*@enc.Decrypt(item.GatewayTransactionID)*@</td>
                                                    try
                                                    {

                                                        <td>@enc.Decrypt(item.GatewayTransactionID)</td>
                                                    }
                                                    catch
                                                    {
                                                        @log.savelog("problem occurs in gateway tran id : " + @item.SerialOfDay, false)
                                                    }
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }


                                            <td>@item.ExcelDownloaded</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            @using (Html.BeginForm("Download", "Report", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
                            {
                                @Html.AntiForgeryToken()
                                @*<form action="/Report/Download" method="post" class="form-material form-horizontal m-t-30">*@
                                @*<input type="hidden" name ="dummySearch.customerName" value="@Model.dummySearch.customerName">
                                    <input type="hidden" name ="dummySearch.payerEmail" value="@Model.dummySearch.payerEmail">
                                    <input type="hidden" name ="dummySearch.poEmail" value="@Model.dummySearch.poEmail">
                                    <input type="hidden" name ="dummySearch.TransactionID" value="@Model.dummySearch.TransactionID">*@
                                <input type="hidden" name="dummySearch.startDate" value="@Model.dummySearch.startDate">
                                <input type="hidden" name="dummySearch.endDate" value="@Model.dummySearch.endDate">
                                <input type="hidden" name="dummySearch.type" value="@Model.dummySearch.type">
                                <input type="hidden" name="dummySearch.policyNumber" value="@Model.dummySearch.policyNumber">
                                <input type="hidden" name="dummySearch.downloadStatus" value="@Model.dummySearch.downloadStatus">
                                <input type="hidden" name="dummySearch.status" value="@Model.dummySearch.status">
                                <input type="hidden" name="dummySearch.gateways" value="@Model.dummySearch.gateways">

                                <div class="row">
                                    <div class="col-md-12 m-t-30">
                                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Download Excel</button>
                                    </div>
                                    <br />

                                    @if (Html.ValidationMessage("Error") != null)
                                    {
                                        <span style="color: red; font-size:large; " role="alert">
                                            @Html.ValidationMessage("Error")
                                        </span>
                                    }
                                    @if (Html.ValidationMessage("Success") != null)
                                    {
                                        <span style="color: green; font-size:large;" role="alert">
                                            @Html.ValidationMessage("Success")
                                        </span>
                                    }
                                </div>
                                @*</form>*@
                            }
                        </div>
                    </div>



                }
                else
                {
                    <p>No Data Found</p>
                }

            }


            @*@Html.ActionLink("Click here to download", "DownloadFile", new { })*@
        </div>
    </div>
</div>


<script>

    jQuery(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out6").addClass('collapse in');

        $("#report-id").addClass('active');
    });

</script>






