﻿@model MetlifeAdminPanel.EmailSettings

@{
    ViewBag.Title = "Email Settings";
}


<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
        @using (Html.BeginForm("Details", "EmailSettings", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
        {
            @Html.AntiForgeryToken()
        @*<form action="#" method="post" class="form-material form-horizontal m-t-30">*@ 
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">Username</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Username)"  readonly ="readonly">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">Mail Server</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MailServer)"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">Port</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Port)"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">From Email address</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.FromEmail)"  readonly ="readonly">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">To Email address</label>
                <textarea class="form-control" cols =" 45" rows ="5" readonly ="readonly">@Html.DisplayFor(model => model.ToEmail)</textarea>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="col-sm-12">Maill CC</label>
                <textarea class="form-control" cols =" 45" rows ="5" readonly ="readonly">@Html.DisplayFor(model => model.CC)</textarea>
            </div>
        </div>
        }
        @*</form>*@
        <h4>
            @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) 
        </h4>  
	  </div>
   </div>
</div>
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out7").addClass('collapse in');

    	$("#emailS-id").addClass('active');
    });
    </script> 
