﻿@model MetlifeAdminPanel.Models.DummyUserRole
@{
    ViewBag.Title = "User Role Mapping form";
}
<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Create", "UserRole", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
            @Html.AntiForgeryToken() 
            @*<form action="/UserRole/Create" method="post" class="form-material form-horizontal m-t-30" > *@

                @Html.ValidationSummary(true)
                   @*<div class="row">                   
                      <div class="col-md-3">
                         <label class="col-sm-12">User</label>
                          @Html.DropDownListFor(model => model.USER_ID , Model.DropDownListForUser,"Select a User", new { @class="form-control"})   
                      </div>
                   </div>*@
                   <div class="row">                   
                      <div class="col-md-3">
                         <label class="col-sm-12">User</label>
                          <input type="text" class="form-control" name ="userName" required ="required"> 
                      </div>
                   </div>
                   <div class="row">                   
                      <div class="col-md-3">
                        <label class="col-sm-12">Role</label>
                          @Html.DropDownListFor(model => model.ROLE_ID , Model.DropDownListForRole,"Select a Role", new { @class="form-control"})   
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-12 m-t-30">        
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Reset</button>
                      </div>
                   </div>
                   <h4>To Show list of User Role mapping @Html.ActionLink("click here", "Index")</h4>
            @*</form>*@
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out3").addClass('collapse in');

    	$("#ur-id").addClass('active');
    });
    </script> 



           