﻿@model MetlifeAdminPanel.User_Role

@{
    ViewBag.Title = "Edit User Role";
}

<div class="row">					
	<div class="col-sm-12">
            <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Edit", "UserRole", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
            {
            @Html.AntiForgeryToken() 
                @*<form action="#" method="post" class="form-material form-horizontal m-t-30">*@ 
                    @Html.HiddenFor(model => model.ID)
                <div class="row">
                    <div class="col-sm-3">
                    <label class="col-sm-12">User</label>
                    @Html.DropDownListFor(model => model.USER_ID , Model.DropDownListForUser, "Select User", new { @class="form-control"})
                    </div>
                 </div> 
                 <div class="row">
                    <div class="col-sm-3">
                    <label class="col-sm-12">Role</label>
                    @Html.DropDownListFor(model => model.ROLE_ID , Model.DropDownListForRole, "Select Role", new { @class="form-control"})
                    </div>
                </div> 
                <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Update</button>
                      </div>
                  </div>    
            } 
                <@*/form>*@
                 <br/>         
                <p>               
                 <h4>@Html.ActionLink("Back to List", "Index")</h4>
                </p>
   		</div>
   	</div>
</div>		


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <script>
        $(document).ready(function () {
            $("#manual-in-out2").addClass('collapse in');
            $("#manual-in-out3").addClass('collapse in');

            $("#ur-id").addClass('active');
        });
    </script> 