﻿@model MetlifeAdminPanel.Services.PaymentVerificationManager
@using MetlifeAdminPanel.Services

@{
    ViewBag.Title = "Search";
    Enc enc = new Enc();
}

<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Search", "PaymentVerification", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30", @id="search-form"}))
            {
            @Html.AntiForgeryToken() 
            @*<form action="/PaymentVerification/Search" method="post" class="form-material form-horizontal m-t-30" id="search-form">*@
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-md-3">
                         <label class="col-sm-12">Policy Number</label>
                         <input type="text" class="form-control" name ="dummySearch.policyNumber" required="required"  value="@Model.dummySearch.policyNumber">      
                             @Html.ValidationMessageFor(model => model.dummySearch.policyNumber)                   
                      </div>
                      <div class="col-md-3">
                         <label class="col-sm-12">Year of Birth</label>
                         <input type="text" class="form-control" name ="dummySearch.yearOfBirth" required="required" value="@Model.dummySearch.yearOfBirth">      
                             @Html.ValidationMessageFor(model => model.dummySearch.yearOfBirth)                   
                      </div>                      
                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">        
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Search</button>
                      </div>
                  </div>
            }
            @*</form>*@
            @if (Model.tranList != null) 
            {
                if (Model.tranList.Count > 0)
                {   
	             <div class="col-sm-12">
                     <div class="white-box">
                          <div class="table-responsive">
			                    <table id="example" class="table display">
                                    <thead>
				                    <tr>
                                        <th>
                                            TransactionID
                                        </th>
                                        <th>
                                            PolicyNumber
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Charges
                                        </th>
                                        <th>
                                            GrandAmount
                                        </th>
                                        <th>
                                            PaymentDate
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>
				                    </thead>	
				                    <tbody>
                                       @foreach (var item in Model.tranList)
                                       {
                                        <tr>
                                            @*<td>
                                                @item.TransactionID.ToString() 
                                            </td>*@

                                            @if (item.TransactionID != null)
                                            {
                                                <td>@enc.Decrypt(item.TransactionID)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            @if (item.PolicyNumber != null)
                                            {
                                                <td>@enc.Decrypt(item.PolicyNumber)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                @item.Amount.ToString()
                                            </td>
                                            <td>
                                                @item.Charges.ToString() 
                                            </td>
                                            <td>
                                                @item.GrandAmount.ToString() 
                                            </td>                                                                                         
                                            <td>
                                                @if(item.PaymentDate !=null){
                                                   @item.PaymentDate.ToString()
                                                }
                                            </td>
                                            <td>
                                                @item.Status.ToString() 
                                            </td>                                                                          
                                        </tr>
                                       }
				                     </tbody>
			                       </table>
                                </div>
                                <br/>
                         </div>
                    </div>    
                }else{
                        <p>No Data Found</p>
                }
            }

        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out6").addClass('collapse in');

        $("#pv-id").addClass('active');
    });
</script>






