﻿@model MetlifeAdminPanel.Access_Logs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Access_Logs</legend>

    <div class="display-label">
         Menu
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Menu.URL)
    </div>

    <div class="display-label">
         User
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_Info.USERID)
    </div>

    <div class="display-label">
         Remarks
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REMARKS)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <h4>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </h4>
}
