﻿@model MetlifeAdminPanel.Access_Logs

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Access_Logs</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ACCESS_MENU, "Menu")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ACCESS_MENU", String.Empty)
            @Html.ValidationMessageFor(model => model.ACCESS_MENU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USER_ID, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("USER_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.USER_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMARKS)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.REMARKS, 4, 50, new { @title = "REMARKS" })
        </div>



        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<h4>
    @Html.ActionLink("Back to List", "Index")
</h4>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
