﻿@model MetlifeAdminPanel.Services.ReportManager.SubmissionReportManager
@using MetlifeAdminPanel.Services
@{
    ViewBag.Title = "Search";
    Enc enc = new Enc();
}

<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if (TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
           }									 
		   @if (TempData["success"] != null)
             {
			            <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			            <span  style="color: green; font-size:large;"  role="alert" >
					            @TempData["success"] 							
			            </span>
			            <br/>				
             }
            @using (Html.BeginForm("Search", "UnclaimedSubmission", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30", @id = "search-form" }))
            {
            @Html.AntiForgeryToken()                 
            @*<form action="/Report/Search" method="post" class="form-material form-horizontal m-t-30" id="search-form">*@
                @Html.ValidationSummary(true)

                  <div class="row">
                      <div class="col-md-3">
                        <label class="col-sm-12">Policy Number</label>
                        <input type="text" class="form-control" name ="dummySearch.PolicyNumber" value="@Model.dummySearch.PolicyNumber"> 
                          @Html.ValidationMessageFor(model => model.dummySearch.PolicyNumber) 
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Policy Owner Name</label>
                         <input type="text" class="form-control" name ="dummySearch.POName" value="@Model.dummySearch.POName">      
                             @Html.ValidationMessageFor(model => model.dummySearch.POName)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Year of Birth</label>
                         <input type="text" class="form-control" name ="dummySearch.YearOfBirth" value="@Model.dummySearch.YearOfBirth">      
                             @Html.ValidationMessageFor(model => model.dummySearch.YearOfBirth)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Email</label>
                             <input type="text" class="form-control" name ="dummySearch.Email" value="@Model.dummySearch.Email">      
                             @Html.ValidationMessageFor(model => model.dummySearch.Email)                   
                      </div>
                  </div>
                                
                 <div class="row">
                     <div class="col-md-3">
                        <label class="col-sm-12">Phone</label>
                         <input type="text" class="form-control" name ="dummySearch.Phone" value="@Model.dummySearch.Phone">      
                             @Html.ValidationMessageFor(model => model.dummySearch.Phone)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Download Status</label>
                          <select class="form-control" id="downloadStatus" name="dummySearch.downloadStatus">
                                <option value=3 @(3 == @Model.dummySearch.downloadStatus ? "selected" : "")>All</option>
        						<option value=0 @(0 == @Model.dummySearch.downloadStatus ? "selected" : "")>New</option>
                                <option value=1 @(1 == @Model.dummySearch.downloadStatus ? "selected" : "")>Downloaded</option>
                          </select>
                      </div> 
                      <div class="col-md-3">
                        <label class="col-sm-12">From Date</label>
                        <input type="text" id="datepicker" class="form-control"  name ="dummySearch.startDate" value="@Model.dummySearch.startDate"> 
                          @Html.ValidationMessageFor(model => model.dummySearch.startDate) 
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">To Date</label>
                        <input type="text" id="datepicker" class="form-control"  name ="dummySearch.endDate" value="@Model.dummySearch.endDate"> 
                          @Html.ValidationMessageFor(model => model.dummySearch.endDate) 
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12 m-t-30">        
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Search</button>
                        @*<input type="reset" class="btn btn-secondary "value="Reset">*@
                      </div>
                  </div>
            }
            @*</form>*@
            @if (Model.tranList != null)
            {
                if (Model.tranList.Count > 0)
                {   
	             <div class="col-sm-12">
                     <div class="white-box">
                          <div class="table-responsive">
			                    <table id="example" class="table display">
                                    <thead>
				                    <tr>

                                        <th>
                                            POLICY NO
                                        </th>
                                        <th>
                                            PONAME
                                        </th>
                                        <th>
                                            YEAR OF BIRTH
                                        </th>
                                        <th>
                                            EMAIL
                                        </th>
                                        <th>
                                            PHONE
                                        </th>

                                        <th>
                                            BENEFIT TYPE
                                        </th>
                                        <th>
                                            CREATION TIME
                                        </th>
				                    </tr>
				                    </thead>	
				                    <tbody>
                                       @foreach (var item in Model.tranList)
                                       {
                                        <tr>                                            
    
                                            @if (item.PolicyNumber != null)
                                            {
                                                <td>@enc.Decrypt(item.PolicyNumber)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.POName != null)
                                            {
                                                <td>@enc.Decrypt(item.POName)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.YearOfBirth != null)
                                            {
                                                <td>@enc.Decrypt(item.YearOfBirth)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.Email != null)
                                            {
                                                <td>@enc.Decrypt(item.Email)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.Phone != null)
                                            {
                                                <td>@enc.Decrypt(item.Phone)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            <td>@item.BenefitType</td>
                                            <td>@String.Format("{0:dd-MMM-yyyy HH:mm:ss}", item.CreationTime)</td>
                                        </tr>
                                       }
				                     </tbody>
			                       </table>
                                </div>
                                <br/>
                                @using (Html.BeginForm("Download", "UnclaimedSubmission", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30" }))
                                {
                                @Html.AntiForgeryToken() 
                                    <input type="hidden" name ="dummySearch.PolicyNumber" value="@Model.dummySearch.PolicyNumber">                                     
                                    <input type="hidden" name ="dummySearch.POName" value="@Model.dummySearch.POName">    
                                    <input type="hidden" name ="dummySearch.YearOfBirth" value="@Model.dummySearch.YearOfBirth">
                                    <input type="hidden" name ="dummySearch.Email" value="@Model.dummySearch.Email">  
                                    <input type="hidden" name ="dummySearch.Phone" value="@Model.dummySearch.Phone"> 
						            <input type="hidden" name ="dummySearch.BenefitType" value="@Model.dummySearch.BenefitType"> 
                                    <input type="hidden" name="dummySearch.downloadStatus" value="@Model.dummySearch.downloadStatus"> 
                                    <input type="hidden" name ="dummySearch.startDate" value="@Model.dummySearch.startDate"> 
						            <input type="hidden" name ="dummySearch.endDate" value="@Model.dummySearch.endDate">                                                      


                                    <div class="row">
                                        <div class="col-md-12 m-t-30"> 
                                                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Download Excel</button>
                                        </div>
                                        <br/>

                                        @if (Html.ValidationMessage("Error") != null)
                                        {
								            <span  style="color: red; font-size:large; "  role="alert" >
										            @Html.ValidationMessage("Error")									
								            </span>
                                        }									 
								        @if (Html.ValidationMessage("Success") != null)
                {
									        <span  style="color: green; font-size:large;"  role="alert" >
											        @Html.ValidationMessage("Success")								
									        </span>				
                }		
                                    </div>   
                                @*</form>*@
                                }
                         </div>
                    </div> 
                

  
                }
                else
                {
                        <p>No Data Found</p>
                }

            }


            @*@Html.ActionLink("Click here to download", "DownloadFile", new { })*@
        </div>
    </div>
</div>


<script>

    jQuery(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out6").addClass('collapse in');

        $("#uns-id").addClass('active');
        });

</script>






