﻿@model MetlifeAdminPanel.ErrorList

@{
    ViewBag.Title = "Delete Error";
}


<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Delete", "ErrorList", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
            {
                @Html.AntiForgeryToken()
            @*<form action="#" method="post" class="form-material form-horizontal m-t-30">*@ 
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Error Code</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.ErrorCode)"  readonly ="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Summary</label>
                    <textarea class="form-control" cols =" 45" rows ="5" readonly ="readonly">@Html.DisplayFor(model => model.Summary)</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Message</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Message)"  readonly ="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-t-30">    
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Delete</button>
                </div>
            </div>   
            <p>
            @Html.ActionLink("Back to List", "Index")
            </p>
            }
        @*</form>*@
         <br/>         
	  </div>
   </div>
</div>

    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out7").addClass('collapse in');

    	$("#err-id").addClass('active');
    });
    </script>