﻿@model MetlifeAdminPanel.Permission

@{
    ViewBag.Title = "Edit Permission";
}

<div class="row">					
	<div class="col-sm-12">
            <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Edit", "Permission", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
            {
            @Html.AntiForgeryToken()                 
                @*<form action="#" method="post" class="form-material form-horizontal m-t-30"> *@
                    @Html.HiddenFor(model => model.ID)
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-12">Permission Title</label>                        
                        <input type="text" class="form-control"   name ="NAME" value="@Html.DisplayFor(model => model.NAME)">
                    </div>
                 </div> 
                 <div class="row">
                       <div class="col-sm-3">
                        <label class="col-sm-12">Menu</label>
                        @Html.DropDownListFor(model => model.MENU_ID , Model.DropDownList, "Select Menu", new { @class="form-control"})
                          
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-sm-12">Status</label>
                        <select class="form-control" name="IS_ACTIVE">
						    <option value=1 @(1 == @Model.IS_ACTIVE ? "selected" : "")>Active</option>
                            <option value=0 @(0 == @Model.IS_ACTIVE ? "selected" : "")>Inactive</option>
					    </select>
                    </div>
                </div>
                <div class="row">
                      <div class="col-md-12 m-t-30">    
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Update</button>
                      </div>
                  </div>     
            }
                @*</form>*@
                 <br/>         
                <h4>               
                @Html.ActionLink("Back to List", "Index")
                </h4>
   		</div>
   	</div>
</div>		
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out4").addClass('collapse in');

    	$("#permission-id").addClass('active');
    });
    </script> 