﻿@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: White; height: 170px;">  
    <div style=" padding:20px;">  
        <h3>  
            404 Not Found</h3>  
        <h4>  
            Sorry, The Page, You are Looking for is not found.  
        </h4>  
@*        <h6>@Html.ActionLink("Go Back To Home Page", "Login", "User")</h6>  *@
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>
