﻿@model IEnumerable<MetlifeAdminPanel.ECollectionBank>

@{
    ViewBag.Title = "E-Collection Bank List";
}

<div class="col-sm-12">
  <div class="white-box">      
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
      <div class="table-responsive">
			<table id="example5" class="table display">
                <thead>
				<tr>
                    <th>
                       Bank Name
                    </th>
                    <th>
                        Redirect URL
                    </th>   
                    <th>
                        Status
                    </th>                       
                    <th style="width: 60px;">
                        Action
                    </th>                                     
				</tr>
				</thead>	
				<tbody>
                   @{ var status = "Active";}
                   @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.BankName, "Details", new { id=item.ID }) 
                        </td>
                        <td>
                            @Html.ActionLink(@item.RedirectURL, "Details", new { id=item.ID }) 
                        </td>
                        <td>
                            @if (@item.Status == 1) { status = "Active"; } else { status = "Inactive"; }
                            @Html.ActionLink(@status, "Details", new { id=item.ID }) 
                        </td>                          
                        <td>
                            <a class="btn btn-primary btn-xs"   data-toggle="tooltip" title="Edit" data-placement="top" href="Edit/@item.ID" >
                                    <span class="fa fa-pencil"></span>
                            </a>
                            <a class="btn btn-danger btn-xs"   data-toggle="tooltip" title="Delete" data-placement="top" href="Delete/@item.ID" >
                                    <span class="fa fa-trash"></span>
                            </a>
                        </td>                                  
                    </tr>
                    }
				</tbody>
			</table>
            <br/>
            <h4 style="margin-left: 5px;">To Create New E-Collection Bank @Html.ActionLink("click here", "Create")</h4>
		 </div>
      </div>
  </div>



    <script>
        $(document).ready(function () {
            $("#manual-in-out2").addClass('collapse in');
            $("#manual-in-out5").addClass('collapse in');

            $("#ecb-id").addClass('active');
        });
    </script> 