﻿@model MetlifeAdminPanel.Services.EcollectionManager

@{
    ViewBag.Title = "Search";
}
<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  

                @using (Html.BeginForm("Search", "ECollection", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30", @id = "search-form" }))
                {
                    @Html.AntiForgeryToken()
            @*<form action="/ECollection/Search" method="post" class="form-material form-horizontal m-t-30" id="search-form">*@
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-md-3">
                        <label class="col-sm-12">Order ID</label>
                         <input type="text" class="form-control" name ="dummySearch.orderId" value="@Model.dummySearch.orderId">      
                             @Html.ValidationMessageFor(model => model.dummySearch.orderId)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Beneficiary Name</label>
                         <input type="text" class="form-control" name ="dummySearch.beneficiaryName" value="@Model.dummySearch.beneficiaryName">      
                             @Html.ValidationMessageFor(model => model.dummySearch.beneficiaryName)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">Bank A/C Number</label>
                             <input type="text" class="form-control" name ="dummySearch.bankAccountNumber" value="@Model.dummySearch.bankAccountNumber">      
                             @Html.ValidationMessageFor(model => model.dummySearch.bankAccountNumber)                   
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3">
                        <label class="col-sm-12">Paying Bank</label>
                            @Html.DropDownListFor(model => model.dummySearch.payingBank, Model.dummySearch.DropDownListForECollectionBank,"Select a Bank Name", new { @class="form-control"})   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">From Amount</label>
                         <input type="text" class="form-control" name ="dummySearch.fromAmount" value="@Model.dummySearch.fromAmount">      
                             @Html.ValidationMessageFor(model => model.dummySearch.fromAmount)                   
                      </div>
                      <div class="col-md-3">
                        <label class="col-sm-12">To Amount</label>
                        <input type="text" class="form-control" name ="dummySearch.toAmount" value="@Model.dummySearch.toAmount"> 
                          @Html.ValidationMessageFor(model => model.dummySearch.toAmount) 
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">        
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Search</button>
                        @*<input type="reset" class="btn btn-secondary "value="Reset">*@
                      </div>
                  </div>
                }
            @*</form>*@
            @if (Model.tranList != null) 
            {
                if (Model.tranList.Count > 0)
                {   
	             <div class="col-sm-12">
                     <div class="white-box">
                          <div class="table-responsive">
			                    <table id="example" class="table display">
                                    <thead>
				                    <tr>
                                        <th>
                                            Order ID
                                        </th>
                                        <th>
                                            Benificiary Name
                                        </th>
                                        <th>
                                            Bank A/C Number
                                        </th>
                                        <th>
                                            Paying Bank
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Bank Name
                                        </th>
                                        <th>
                                            Branch
                                        </th>
                                    </tr>
				                    </thead>	
				                    <tbody>
                                       @foreach (var item in Model.tranList)
                                       {
                                        <tr>
                                            <td>
                                                @item.OrderID 
                                            </td>
                                            <td>
                                                @item.BeneficiaryName 
                                            </td>
                                            <td>
                                                @item.BankAccountNumber
                                            </td>
                                            <td>
                                                @*@item.PayingBank*@
                                                @MetlifeAdminPanel.Services.DBContext.GetEcollectionBankById(item.PayingBank).ToString()
                                                
                                            </td>
                                            <td>
                                                @item.Amount.ToString()
                                            </td>
                                            <td>
                                                @item.BankName
                                            </td>                                                                                         
                                            <td>
                                                @item.Branch                                                
                                            </td>                              
                                        </tr>
                                       }
				                     </tbody>
			                       </table>
                                </div>
                                <br/>

                                 @using (Html.BeginForm("Download", "ECollection", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
                                 {
                                        @Html.AntiForgeryToken()
                                @*<form action="/ECollection/Download" method="post" class="form-material form-horizontal m-t-30">*@
                                    <input type="hidden" name ="dummySearch.orderId" value="@Model.dummySearch.orderId">      
                                    <input type="hidden" name ="dummySearch.beneficiaryName" value="@Model.dummySearch.beneficiaryName">    
                                    <input type="hidden" name ="dummySearch.bankAccountNumber" value="@Model.dummySearch.bankAccountNumber">  
                                    <input type="hidden" name ="dummySearch.payingBank" value="@Model.dummySearch.payingBank"> 
						            <input type="hidden" name ="dummySearch.fromAmount" value="@Model.dummySearch.fromAmount"> 
                                    <input type="hidden" name= "dummySearch.toAmount" value="@Model.dummySearch.toAmount">

                                    <div class="row">
                                        <div class="col-md-12 m-t-30"> 
                                                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Download Excel</button>
                                        </div>
                                        <br/>

                                        @if (Html.ValidationMessage("Error") != null)
                                        {
								            <span  style="color: red; font-size:large; "  role="alert" >
										            @Html.ValidationMessage("Error")									
								            </span>
								        }									 
								        @if (Html.ValidationMessage("Success")!=null)
                                        {
									        <span  style="color: green; font-size:large;"  role="alert" >
											        @Html.ValidationMessage("Success")								
									        </span>				
								        }		
                                    </div>  
                                 } 
                                @*</form>*@
		                     
                         </div>
                    </div> 
                

  
                }else{
                        <p>No Data Found</p>
                }

            }
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out6").addClass('collapse in');

        $("#e-report-id").addClass('active');
    });
</script>





