﻿@model MetlifeAdminPanel.Models.UploadUnclaimedMaturity

<div class="row">					
	<div class="col-sm-12">
        <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Upload", "UnclaimedMaturity", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30", @id = "search-form" }))
            {
            @Html.AntiForgeryToken() 
            @*<form action="/PaymentVerification/Search" method="post" class="form-material form-horizontal m-t-30" id="search-form">*@
                @Html.ValidationSummary(true)
                   <div class="row">
                      <div class="col-md-3">  
                           <input type="file" name="file" runat="server" />  
                            @*@Html.ValidationMessageFor(m => m.file)*@
                           
                     </div>                     
                  </div>
                  <div class="row">
                      <div class="col-md-12 m-t-30">        
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Upload</button>
                      </div>
                  </div>
                <br/>
                @ViewBag.Message  
            }           

        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out8").addClass('collapse in');

        $("#umup-id").addClass('active');
    });
</script>






