﻿@model MetlifeAdminPanel.Services.DashboardManager

@{
    ViewBag.Title = "Dashboard";
}
            <!--row -->
<div class="row">


    <div class="col-md-3">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="icon-list bg-info"></i>
                <div class="bodystate">
                    <h4>Today</h4>
                    <br />
                    <table>
                        <tr><td style="padding-right:25px;">INIT Transactions</td><td>@Model.countForToday[0].initCount</td></tr>
                        <tr><td style="padding-right:25px;">SUCCESS Transactions</td><td>@Model.countForToday[0].successCount</td></tr>
                        <tr><td style="padding-right:25px;">FAILED Transactions</td><td>@Model.countForToday[0].failedCount</td></tr>
                        <tr><td style="padding-right:25px;">CANCELED Transactions</td><td>@Model.countForToday[0].canceledCount</td></tr>
                        <tr></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="icon-list bg-success"></i>
                <div class="bodystate">
                    <h4>Total</h4>
                    <br />
                    <table>
                        <tr><td style="padding-right:25px;">INIT Transactions</td><td>@Model.countTotal[0].initCount</td></tr>
                        <tr><td style="padding-right:25px;">SUCCESS Transactions</td><td>@Model.countTotal[0].successCount</td></tr>
                        <tr><td style="padding-right:25px;">FAILED Transactions</td><td>@Model.countTotal[0].failedCount</td></tr>
                        <tr><td style="padding-right:25px;">CANCELED Transactions</td><td>@Model.countTotal[0].canceledCount</td></tr>
                        <tr></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="icon-list bg-purple"></i>
                <div class="bodystate">
                    <h4>Unclaimed Maturity Upload</h4>
                    <br />
                    <table>
                        <tr><td style="padding-right:25px;">Uploaded Transactions</td><td>@Model.unclaimedmaturityupload[0].totaluploaded</td></tr>
                        <tr><td style="padding-right:25px;">Success Transactions</td><td>@Model.unclaimedmaturityupload[0].successCount</td></tr>
                        <tr><td style="padding-right:25px;">Total Amount Uploaded</td><td>@Model.unclaimedmaturityupload[0].totalamountuploaded</td></tr>
                        <tr><td style="padding-right:25px;">Failed Transactions</td><td>@Model.unclaimedmaturityupload[0].failedCount</td></tr>
                        <tr><td style="padding-right:25px;">Upload Date and Time</td><td>@Model.unclaimedmaturityupload[0].uploadeddatetime</td></tr>
                        <tr><td style="padding-right:25px;">Upload BY</td><td>@Model.unclaimedmaturityupload[0].uploadedby</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
