﻿@model MetlifeAdminPanel.Services.Data


@{
    ViewBag.Title = "Delete";
}

<div class="row">					
   <div class="col-sm-12">
     <div class="white-box">
           @if(TempData["failed"] != null)
           {
			    <img src="~/Content/my_style/plugins/images/failed.jpg" width="30" height="30">
			    <span  style="color: red; font-size:large; "  role="alert" >
					    @TempData["failed"]						
			    </span>
			    <br/>
		    }									 
		    @if(TempData["success"] != null)
            {
			    <img src="~/Content/my_style/plugins/images/ok.jpg" width="50" height="50">
			    <span  style="color: green; font-size:large;"  role="alert" >
					    @TempData["success"] 							
			    </span>
			    <br/>				
		    }  
            @using (Html.BeginForm("Delete", "Menu", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data", @class = "form-material form-horizontal m-t-30"}))
            {
            @Html.AntiForgeryToken()
        @*<form action="#" method="post" class="form-material form-horizontal m-t-30">*@ 
            @Html.HiddenFor(model => model.menu.URL)
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">URL</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.menu.URL)"  readonly ="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Parent Menu</label>
                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.parentMenu)"  readonly ="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-sm-12">Status</label>
                    @{var status = "";}
                    @if (@Model.menu.IS_ACTIVE == 1) { status = "Active"; } else { status = "Inactive"; }
                    <input type="text" class="form-control"  value="@status" readonly ="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-t-30">    
                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Delete</button>
                </div>
            </div>   
            <h4>
            @Html.ActionLink("Back to List", "Index")
            </h4>
            }
        @*</form>*@
         <br/>         
	  </div>
   </div>
</div>
    <script>
    $(document).ready(function(){
        $("#manual-in-out2").addClass('collapse in');
        $("#manual-in-out4").addClass('collapse in');

    	$("#menu-id").addClass('active');
    });
    </script> 