﻿
        <!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
	                <a class="logo" href="#"><b><!--This is dark logo icon-->
		                @*<img src="~/Content/my_style/plugins/images/eliteadmin-logo.png" alt="home" class="dark-logo" />*@
		                <span class="hidden-xs">
			                <img src="~/Content/my_style/plugins/images/eliteadmin-text.png" alt="home" class="dark-logo" />
		                </span>
	                </a>
                </div>
            </div>
        </nav>
        



