﻿@using MetlifeAdminPanel.Services
<!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
	                <a class="logo" href="#"><b><!--This is dark logo icon-->
		                @*<img src="~/Content/my_style/plugins/images/eliteadmin-logo.png" alt="home" class="dark-logo" />*@
		                <span class="hidden-xs">
			                <img src="~/Content/my_style/plugins/images/eliteadmin-text.png" alt="home" class="dark-logo" />
		                </span>
	                </a>
                </div>
                 
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown"> 
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">@Session["userName"]<i class="ti-user"></i>
          				 <div class="notify"><span class="heartbit"></span><span class="point"></span> </div>
          			</a>
                        <ul class="dropdown-menu mailbox ">
                            
                            <li><a href="@Url.Action("Logout", "User")"><i class="fa fa-power-off"></i> Logout</a></li>

                            @*<li>@Url.Action("Logout", "User")</li>*@
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span> 
                        </div>
                    </li>
                    <li> <a href="@Url.Action("show", "Dashboard")"><i class="icon-home fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard </span></a></li>
                    
                    <li><a href="javascript:void(0);" class="waves-effect"><i class="icon-user fa-fw"></i> <span class="hide-menu">Admin<span class="fa arrow"></span></span></a>
						<ul class="nav nav-second-level" id="manual-in-out2">
							@if (DBContext.hasPermission("Metlife User Management") || DBContext.hasPermission("Metlife Role Management") || DBContext.hasPermission("Metlife User Role Management"))
                            { 
       						     <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Manage User<span class="fa arrow"></span></span></a>
						            <ul class="nav nav-third-level" id ="manual-in-out3">
									@if (DBContext.hasPermission("Metlife User Management")) { 
                                        <li> <a href="@Url.Action("Index", "User")" id="user-id">Users</a></li>
                                    }
							        @if (DBContext.hasPermission("Metlife Role Management")) { 
							            <li> <a href="@Url.Action("Index", "Role")" id="role-id">Roles</a></li>
                                    }
							        @if (DBContext.hasPermission("Metlife User Role Management")) { 
                                        <li > <a href="@Url.Action("create", "UserRole")" id="ur-id">Assign Role</a></li>	
                                    }									
								    </ul>
                                   </li>
                            }
							@if (DBContext.hasPermission("Metlife Menu Management") || DBContext.hasPermission("Metlife Permission Management") ||DBContext.hasPermission("Metlife Role Permission Management"))
                            { 
                            <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Manage Permission<span class="fa arrow"></span></span></a>
						            <ul class="nav nav-third-level" id ="manual-in-out4">         
							    @if (DBContext.hasPermission("Metlife Menu Management"))
                                { 
							        <li> <a href="@Url.Action("Index", "Menu")" id="menu-id">Menu</a></li>
                                }
                                @if (DBContext.hasPermission("Metlife Permission Management"))
                                { 
                                    <li> <a href="@Url.Action("Index", "Permission")" id="permission-id">Permission</a></li>
                                }
							    @if (DBContext.hasPermission("Metlife Role Permission Management"))
                                { 
							        <li> <a href="@Url.Action("create", "RolePermission")"   id="rp-id">Assign permission</a></li>	
                                }
                                </ul>
                            </li>           
                            }
                            @if (DBContext.hasPermission("Metlife Payment Type Management") || DBContext.hasPermission("Metlife Gateway Management") || DBContext.hasPermission("Metlife E-Collection Bank Management"))
                            {  
                            <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Manage Payment<span class="fa arrow"></span></span></a>
						            <ul class="nav nav-third-level" id ="manual-in-out5">                                  
							        @if (DBContext.hasPermission("Metlife Payment Type Management")) { 
                                        <li> <a href="@Url.Action("Index", "PaymentType")"  id="pt-id">Payment Type</a></li>
                                    }
							        @if(DBContext.hasPermission("Metlife Gateway Management"))
                                    { 
                                     <li> <a href="@Url.Action("Index", "Gateway")"  id="gw-id">Gateway</a></li>		
                                    }
                                    @if(DBContext.hasPermission("Metlife E-Collection Bank Management"))
                                    { 
                                        <li> <a href= "@Url.Action("Index", "ECollectionBank")"  id="ecb-id"> E-Collection Bank</a></li>				
                                    }
						            </ul>
                            </li>                                                           
                            }
                            @if (DBContext.hasPermission("Metlife Report") || DBContext.hasPermission("Metlife Payment Verification Report") || DBContext.hasPermission("Metlife E-Collection Report"))
                            { 
                            <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Reports<span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level" id="manual-in-out6">
                                    @if (DBContext.hasPermission("Metlife Payment Verification Report"))
                                    {
                                        <li> <a href="@Url.Action("Search", "PaymentVerification")" id="pv-id">Payment Verification</a></li>
                                    }
                                    @if (DBContext.hasPermission("Metlife E-Collection Report"))
                                    {
                                        <li> <a href="@Url.Action("Search", "ECollection")" id="e-report-id">E-Collection Report</a></li>

                                    }
                                    @if (DBContext.hasPermission("Metlife Report"))
                                    {
                                        <li> <a href="@Url.Action("Search", "Report")" id="report-id">Transaction Report</a></li>

                                    }
                                    @if (DBContext.hasPermission("Metlife Unclaimed Submission Report"))
                                    {
                                        <li> <a href="@Url.Action("Search", "UnclaimedSubmission")" id="um-report-id">Unclaimed Submission</a></li>

                                    }

                                    @if (DBContext.hasPermission("MetLife D2C Report"))
                                    {
                                        <li> <a href="@Url.Action("Search", "D2CReporting")" id="d2c-report-id">D2C Report</a></li>

                                    }
                                </ul>
                            </li>                                                                    
                            }

                            @if (DBContext.hasPermission("Metlife Upload Unclaimed Maturity File"))
                             { 
                             <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Upload<span class="fa arrow"></span></span></a>
						            <ul class="nav nav-third-level" id ="manual-in-out8">                                   
                                    @if (DBContext.hasPermission("Metlife Upload Unclaimed Maturity File"))
                                    { 
                                        <li> <a href="@Url.Action("Upload", "UnclaimedMaturity")" id="umup-id">Unclaimed Maturity</a></li>				
                                    }
                                    @if (DBContext.hasPermission("Metlife Upload Unclaimed Maturity Log"))
                                    { 
                                        <li> <a href="@Url.Action("Index", "UnclaimedMaturityLog")" id="uplog-id">Maturity Log</a></li>				
                                    } 	
                                    </ul>                                 
                            </li>                                        		
                            }
                            @if (DBContext.hasPermission("Metlife Error Management") || DBContext.hasPermission("Metlife Email Settings") || DBContext.hasPermission("Metlife Email Notifications"))
                            { 
                            <li><a href="javascript:void(0);" class="waves-effect"><i class=""></i> <span class="hide-menu">Others<span class="fa arrow"></span></span></a>
						           <ul class="nav nav-third-level" id ="manual-in-out7">                                   
                                   @if (DBContext.hasPermission("Metlife Error Management")) { 
                                       <li> <a href="@Url.Action("Index", "ErrorList")" id="err-id">Error List</a></li>				
                                   } 	
                                   @if (DBContext.hasPermission("Metlife Email Settings")) { 
                                       <li> <a href= "@Url.Action("Details", "EmailSettings")"  id="emailS-id">Email Settings</a></li>				
                                   } 
                                   @if (DBContext.hasPermission("Metlife Email Notifications")) { 
                                       <li> <a href="@Url.Action("Index", "EmailNotifications")"  id="emailN-id">Email Notifications</a></li>				
                                   } 
                                   @if (DBContext.hasPermission("Metlife Switching Logs"))
                                   { 
                                       <li> <a href="@Url.Action("Index", "SwitchingLogs")" id="sl-id">Application Log</a></li>				
                                   }                                                                                	
                                    </ul>
                            </li>                                        		
                            }                        
                        </ul>
                    </li>
                </ul>
            </div>
        </div>