﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/my_style/plugins/images/favicon.png">
    <title>Metlife @ViewBag.Title</title>

    @*    @Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/my_style") 
    @Styles.Render("~/Content/my_style/image") 
    
   
</head>
 <body>
 <div id="wrapper">
        @Html.Partial("_Header")
         <div id="page-wrapper">
            <div class="container-fluid">
               <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.Title</h4>
                        
                    </div>
                   @*<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">                       
                        <ol class="breadcrumb">
                            <li><a href="#">eBanking</a></li>
							<li><a href="#">@menu1</a></li>
                            <li class="active">@menu2</li>
                        </ol>
                    </div>*@ 
                </div> 
                 
                @RenderBody() 
                @Scripts.Render("~/bundles/my_style/jquery")
                
                @RenderSection("scripts", required: false)    
           </div>
              @Html.Partial("_Footer")           
        </div>        
     </div>     
</body>
</html>
<script>
         // Date Picker
         jQuery('.mydatepicker, #datepicker').datepicker();
         jQuery('#datepicker-autoclose').datepicker({
             autoclose: true,
             todayHighlight: true
         });

         jQuery('#date-range').datepicker({
             toggleActive: true
         });
         jQuery('#datepicker-inline').datepicker({

             todayHighlight: true
         });

         // Daterange picker

         $('.input-daterange-datepicker').daterangepicker({
             buttonClasses: ['btn', 'btn-sm'],
             applyClass: 'btn-danger',
             cancelClass: 'btn-inverse'
         });
         $('.input-daterange-timepicker').daterangepicker({
             timePicker: true,
             format: 'MM/DD/YYYY h:mm A',
             timePickerIncrement: 30,
             timePicker12Hour: true,
             timePickerSeconds: false,
             buttonClasses: ['btn', 'btn-sm'],
             applyClass: 'btn-danger',
             cancelClass: 'btn-inverse'
         });
         $('.input-limit-datepicker').daterangepicker({
             format: 'MM/DD/YYYY',
             minDate: '06/01/2015',
             maxDate: '06/30/2015',
             buttonClasses: ['btn', 'btn-sm'],
             applyClass: 'btn-danger',
             cancelClass: 'btn-inverse',
             dateLimit: {
                 days: 6
             }
         });

	    $('#example').DataTable({
            dom: 'fltip',
	        buttons: [],
	        "ordering": false
	    });


	    $('#example_1').DataTable({
	        dom: 'Bfrtip',
	    })

	    $('#example2').DataTable({
	        dom: 'Bfrtip',
	        
	        buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
	        ]
	    });

	    $('#example3').DataTable({
	        dom: 'Bfrtip',
	        buttons: [
                'copy', 'csv', 'excel'
	        ]
	    });

	    $('#example4').DataTable({
	        dom: 'Bfrtip',
	        buttons: [
                'copy', 'csv', 'excel'
	        ]
	    });
	    $('#example5').DataTable({
	        dom: 'Bfrtip',
	        buttons: [
                  'csv', 'excel', 'print'
	        ]
	    });

	    $(document).ready(function () {
	        // Setup - add a text input to each footer cell
	        $('#example tfoot th').each(function () {
	            var title = $(this).text();

	        });

	        // DataTable
	        var table = $('#example').DataTable();

	        // Apply the search
	        table.columns().every(function () {
	            var that = this;

	            $('input', this.footer()).on('keyup change', function () {
	                if (that.search() !== this.value) {

	                    /*that
                            .search( this.value )
                            .draw();*/
	                }
	            });
	        });
	    });

    $(document).ready(function () {
        $('#check-all').checkAll();
    });
</script>  







@*<header>
<div class="content-wrapper">
<div class="float-left">
<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
</div>
<div class="float-right">
<section id="login">
@Html.Partial("_LoginPartial")
</section>
<nav>
<ul id="menu">
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
</nav>
</div>
</div>
</header>*@
